@media print {
    /* Hide everything except the table */
    body * {
        visibility: hidden;
    }
    .page-title-box, .page-title-right {
        display: none;
    }
    .table-responsive, .table-responsive * {
        visibility: visible;
    }
    .table-responsive {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
/* {{-- widget --}} */

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
        font-weight: normal;
    }

    .text-danger {
        color: #e74c3c !important;
    }

    .text-primary {
        color: #3498db !important;
    }

    .text-success {
        color: #2ecc71 !important;
    }

    @media (max-width: 767.98px) {
        .card-body {
            padding: 1.5rem;
        }
    }
